@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Quicksand", sans-serif;
}
/* Range */
.range-sm::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  cursor: pointer;
  color: #00ADEF;
	box-shadow: 0px 0px 8px 0px #000000EB;
}

.range-sm::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  color: #00ADEF;
  cursor: pointer;
	box-shadow: 0px 0px 8px 0px #000000EB;
}


/* End Range */


.inner-button-play.playing .inner-playing-icon{
  display: flex;

}
.inner-button-play .inner-playing-icon{
  display: none;
}
.inner-button-play .inner-pause-icon{
  display: flex;
}
.inner-button-play.playing .inner-pause-icon{
  display: none;
}

.active[song-id] .btn-play{
  background-color: #00ADEF;
  border-color: #00ADEF;
  overflow: hidden;
}